body {
    margin: 0;
    padding: 0;
/*    background-image: url(assets/images/bg_graphic.jpg);*/
}

/*body:after {
    background-image: url(assets/images/bg_graphic.jpg);
    opacity: 0.6;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;
}*/

/*#main-container-1 {
    background-color:#fafafa;
    position:relative;
    overflow: hidden;
}

#main-container-1:before {
    content: ' ';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    opacity: 0.6;
    background-image: url('http://placekitten.com/1500/1000');
    background-repeat: no-repeat;
    background-position: 50% 0;
    -ms-background-size: cover;
    -o-background-size: cover;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    background-size: cover;
}*/

.main {
    max-width: 960px;
    position: relative;
    padding: 0 10px;
    margin: 0 auto;
}

.bgmain {
    margin-top: 2px;
    background: url(../assets/images/bg_graphic.jpg) fixed;
}

.header-title {
    color: white;
}

.header h2.header-title a {
    font-size: 46px;
    margin: 0;
    text-align: center;
}

.header-link {
    color: white;
    border: 2px solid #006fe6;
    margin-bottom:0px;
    font-weight: bold;
}

.header-link:hover {
    background-color: #1988ff;
    border: 2px solid #1988ff;
/*    border-bottom: 0px;*/
    border-top-right-radius: 2px;
    border-top-left-radius: 2px;
}

.header h2.header-link a {
    font-size: 13px;
    margin: 0;
    text-align: center;
}

.row-full {
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
}

.black-background-2 {
    background-color: #241212;
}

.blue-background-1 {
    background-color: #006fe6;
}

.blue-background-2 {
    background-color: #1988ff;
}

.grey-background-1 {
    background-color: #fefefe;
}

.green-background-1 {
    background-color: #14a800;
}

.green-background-2 {
    background-color: #17c200;
}

.green-background-fix-variable {
    background-color: black;
}

@media screen and (max-width: 786px) {
    .display-mobile-only {
        display: block;
    }
}

@media screen and (min-width: 786px) {
    .display-mobile-only {
        display: none;
    }
}

@media screen and (max-width: 786px) {
    .display-large-only {
        display: none;
    }
}

@media screen and (min-width: 786px) {
    .display-large-only {
        display: block;
    }
}

@media screen and (max-width: 986px) {
    .green-background-fix-variable {
        background-color: #14a800;
    }
}

@media screen and (min-width: 986px) {
    .green-background-fix-variable {
        background-color: #17c200;
    }
}

.opacity-90 {
    opacity: 0.9;
}

.opacity-100 {
    opacity: 1.0;
}

#recent-picks {
    color: white;
}

#subscribe-info {
    color: white;
}

#dream-info-1 {
/*    border: 1px solid black;
    border-bottom: 0px;
    border-right: 0px;
    border-left: 0px;*/
}

#dream-links-1 {
    border: 1px solid black;
    border-top: 0px;
    border-right: 0px;
    border-left: 0px;
}